<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zavier.demo.dao.UserMapper">
    <insert id="save" parameterType="com.zavier.demo.entity.UserDO">
        INSERT INTO t_user (id, user_name, user_age)
        VALUES (#{id}, #{userName}, #{userAge})
    </insert>

    <select id="findById" resultType="com.zavier.demo.entity.UserDO">
        SELECT id, user_name, user_age FROM t_user
        WHERE id = #{userId}
    </select>

    <select id="selectAll" resultType="com.zavier.demo.entity.UserDO">
        SELECT id, user_name, user_age FROM t_user
    </select>
</mapper>